*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* start sidebar */
#toggle-sidebar{
    display: none;
    
}
.toggle-sidebar{
    position: absolute;
    top: 25px;
    left: 100px;
    cursor: pointer;
}
.toggle-sidebar span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    border-radius: 0 30px 30px 0;
    background-color:#F5EFEB;
    padding: 20px;
    direction: rtl;
    transition: right 0.5s;
    border-right:1px solid black;
    z-index: 1000;
}
#toggle-sidebar:checked + .toggle-sidebar + .sidebar{
    left: 0;
}
body:not(:has(#toggle-sidebar:checked)) .sidebae{
    left: -250px;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    margin-bottom: 10px;
}
.sidebar ul li a{
    text-decoration: none;
    line-height: 30px;
    color:#2F4156;
}
.sidebar ul li a:hover{
    color:#2F4156;
    font-size: large;
    font-weight: bold;
}
/* end sidebar */

/* start nav */
nav{
    background-color:#bda87d;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

}
.con1{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ri1{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px;
}
.left1{
    width: 40%;
    padding-right: 10px;
    direction: rtl;
}
/* end nav */
.section1{
    width: 100%;
    height: 900px;
    background-color: #EFEBE8;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    flex-wrap: wrap;
}
.con2{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div2{
    width:80% ;
    height: 450px;
    margin: 30px 0;
    border-radius: 20px;
    background-color:#c8af81;
    display: flex;
    justify-content: end;
    align-items: center;
}
.video{
    width: 100%;
    height: 450px;
}
.section2{
    width: 100%;
    height: 1500px;
    background-color: #EFEBE8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div1{
    width: 18%;
    height: 450px;
    margin: 20px;
    border-radius: 20px;
    background-color:#c4b496;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div1:hover{
    width: 20%;
    height: 480px;
    border: 2px dashed black;
}
.botton1{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color:#f8e9cc ;
    color:#452d00;
    border: 1px solid #452d00;
}
.botton1:hover{
    width: 100px;
    height: 30px;
    background-color: wheat;
    border-radius: 5px;
    border: 1px solid black;
}
.footer{
    width: 100%;
    height: 500px;
    background-color:#c6bdaa ;
    display: flex;
    justify-content: center;
}
.con3{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.div4{
    width: 30%;
    height: 100%;
    margin: 20px;
    padding-top: 20px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.div5{
    width: 80%;
    height: 75%;
}
.div5 a{
    text-decoration: none;
    color: black;
}
.div5 a :hover{
    color:white;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}
/* Responsiveness */
/* medium screen + tablet */
@media( max-width:1024px) and ( min-width:769px){
    .toggle-sidebar{
    left: 30px;
    }
    .con1{
    width:80%;
    }
    .section2{
    width: 100%;
    height: 100%;
    }
    .div1{
    width: 40%;
    height: 450px;
    font-weight: 500;
    }
}
/* phone */
@media(max-width:768px){
    .toggle-sidebar{
    left: 10px;
    }
    .con1{
    width: 90%;
    }
    .div2{
    width:80% ;
    height: 300px;
    }
    .video{
    width: 100%;
    height: 300px;
    }
    .section2{
    width: 100%;
    height: 100%;
    }
    .div1{
    width: 55%;
    height: 450px;
    }
}
/* small lab */
@media(min-width:1025px) and (max-width:1250px){
    .toggle-sidebar{
    left: 30px;
    }
    .con1{
    width: 90%;
    }
    .div2{
    width:80% ;
    height: 350px;
    }
    .video{
    width: 100%;
    height: 350px;
    }
    .section2{
    width: 100%;
    height: 100%;
    }
    .div1{
    width: 26%;
    height: 450px;
    }
}
/* large lab */
@media(min-width:1251px){
    .toggle-sidebar{
    left: 80px;
    }
    .con1{
    width: 80%;
    }
    .div2{
    width:80% ;
    height: 450px;
    margin-top: 30px;
    }
    .video{
    width: 100%;
    height: 450px;
    }
    .section2{
    width: 100%;
    height: 100%;
    }
    .div1{
    width: 18%;
    height: 450px;
    }
    .div1:hover{
    width: 20%;
    height: 480px;
    border: 2px dashed black;
}
}